 <h1><%= @user.username%>'s profile </h1>

 <%= gravatar_for @user  %>

<div>
<% if logged_in? && (@user == current_user || current_user.admin?)%>
  <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-outline-info" %>
  <% end%>
</div>
 <h3  >Articles</h3>

 <%= render 'articles/articles' %>
 <br/>

 <p><%= link_to '[ Cancel and return to Home]', root_path %></p>
  