<h1>Log in</h1>

 
      
        <%= form_with(scope: :session, url: login_path, local: true) do |f| %>
           
                       
            <%= f.label :"email:" %><br/>
            <%= f.email_field :email, placeholder: "enter email" %><br/><br/>

            <%= f.label :"password:"  %><br/>
            <%= f.password_field :password, placeholder: "enter password" %> <br/><br/>
             
            <%= f.submit "Login" %>
         
        <% end %>
        <br/>
 
  <p><%= link_to '[ Cancel and return to Home]', root_path %></p>